.authors{
  min-height: 50vh;
  font-weight: 500;

  h2{
    font-size: 2.4em;
    color: #33393f;
    border-bottom: 2px solid #33393f;
  }

  ul{
    li{
      font-size: 1.5em;

      .icons{
        cursor: pointer;
        display: none;
      }

      &:hover{
        background-color: #f5f5f5;

        .icons{
          display: inline-block;
        }
      }
    }
  }

  p{
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
  }

  .author-form{
    h3{
      font-size: 1.5em;
      color: #33393f;
      border-bottom: 2px solid #33393f;
      display: inline-block;
    }
  }
  .form-label{
    font-size: 0.7em;
    color: #5F5F5F;
    font-weight: 600;
  }
  .form-control{
    border-radius: 0;
    border: 2px solid #9A9A9A;
  }

}