.welcome{

  img{
    width: 100%;
  }

  h1{
    font-weight: 700;
    color: rgb(38,51,55);
    font-size: 3.1em;
  }

  p{
    font-size: 1.1em;
    color: rgb(49,49,49);
    font-weight: 500;
  }
}